.calculatrice {
	width: 500px;
	margin: 99px auto;
	background-color: aliceblue;
	padding: 50px 25px;
	font-size: 25px;

	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(4, 23%);
	grid-template-rows: repeat(6, 100px);
	gap: 10px;
}

.calcul {
	grid-column: span 4;
	background-color: black;
	color: white;
	text-align: center;
	place-content: center;
}
#valider,
#retour {
	grid-column: span 2;
}

button {
	background-color: grey;
	border: none;
	font-size: 20px;
	font-weight: bold;

	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
button:active {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
